<div class="container">
    <div class="text-center mt-4">
        <h1 style="color: red;">
            Xác Nhận Thanh Toán
        </h1>
    </div>
    <div class="mt-4 d-flex align-items-start justify-content-start" style="flex-direction: column;">
        <h2 class="mb-3"><b>Tổng hoá đơn: 50.000vnd</b></h2>
        <h2 class="mb-3"><b>Mã hoá đơn: 01</b></h2>
        <h2 class="mb-3"><b>Hình thức trả phí: ATM</b></h2>
        <h2 class="mb-3"><b>Ngày mua: 27/6/2023</b></h2>
    </div>
    <div class="text-center">
        <button class="mt-5" mat-raised-button class="button" style="background-color: #FF3D00; color: white; width: 50%; height: 60px;" (click)="payment()">Thanh toán</button>
    </div>
</div>