<div class="container" style="margin-top: 10%;">
    <mat-card class="mt-3">
        <mat-tab-group #tabGroup justify="between" class="tab-container">
            <mat-tab>
                <ng-template mat-tab-label>
                    Tất cả<br/><br/>10 đơn hàng 
                </ng-template>
                <ng-template matTabContent>
                        <mat-card-content>
                            <app-sale-tab-first></app-sale-tab-first>
                        </mat-card-content>
                </ng-template>          
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Chờ xác nhận<br/><br/>2 đơn hàng 
                </ng-template>                
              <ng-template matTabContent>
                    <mat-card-content>
                        <!-- <file-management-tab-second></file-management-tab-second> -->
                    </mat-card-content>
              </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Đang chuẩn bị<br/><br/>4 đơn hàng 
                </ng-template>                
                <ng-template matTabContent>
                        <mat-card-content>
                            <!-- <file-management-tab-third></file-management-tab-third> -->
                        </mat-card-content>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Đang giao hàng<br/><br/>4 đơn hàng 
                </ng-template>     
                <ng-template matTabContent>
                        <mat-card-content>
                            <!-- <file-management-tab-third></file-management-tab-third> -->
                        </mat-card-content>
                </ng-template>
            </mat-tab>
            <mat-tab >
                <ng-template mat-tab-label>
                    Đã giao hàng<br/><br/>4 đơn hàng 
                </ng-template>     
                <ng-template matTabContent>
                        <mat-card-content>
                            <!-- <file-management-tab-third></file-management-tab-third> -->
                        </mat-card-content>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Đã huỷ<br/><br/>4 đơn hàng 
                </ng-template>     
                <ng-template matTabContent>
                        <mat-card-content>
                            <!-- <file-management-tab-third></file-management-tab-third> -->
                        </mat-card-content>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
</mat-card>
</div>