
// .row{
//     padding: 10px;
// }

button{
    padding: 5px 30px;
    border-radius: 6px;
    margin-right: 10px;
    color: #FFF;
}

.button-content{
    display: flex;
}

.subtitle{
    padding: 10px 25px;
    border: 1px #000 solid;
    border-radius: 16px;
}