<div class="container">
    <h2 class="mt-3">Tạo mới sản phẩm</h2>
    <div class="row">
        <form [formGroup] = "form!" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <label for="name" class="col-sm-5 col-form-label">Tên sản phẩm:</label>
              <div class="col-sm-7 form-input">
                <input type="text" class="form-control" formControlName = "foodName">
              </div>
            </div>
            <div class="form-group row">
              <label for="price" class="col-sm-5 col-form-label">Giá</label>
              <div class="col-sm-7 form-input">
                <input type="text" class="form-control" formControlName = "price">
              </div>
            </div>
            <div class="form-group row">
                <label for="status" class="col-sm-5 col-form-label">Trạng thái</label>
                <div class="col-sm-7 form-input">
                    <select class="form-select" formControlName = "quantity">
                        <option selected></option>
                        <option value="1">Còn</option>
                        <option value="2">Không còn</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="file" class="col-sm-5 col-form-label">File</label>
                <!-- formControlName="file" -->
                <div class="col-sm-7 form-input">
                    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 70px; width:70px; background-size: cover;">
                    <input 
                        id="file" 
                        type="file" 
                        class="form-control"
                        (change)="onFileChange($event)"
                        formControlName = "urlImg"
                    >
                </div>
                <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                    <div *ngIf="f.file.errors.required">File is required.</div>
                </div> -->
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-sm-12 d-flex justify-content-end">
                    <button color="primary" mat-raised-button style="margin-right: 10px" type="submit">Thêm</button>
                    <button mat-raised-button type="button" (click)="onClose()">Đóng</button>
                </div>
            </div>
        </form>
    </div>
</div>