<div class="container mt-5">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-xl-3 col-lg-3">
                    <div class="mt-4 card ml-2">
                        <mat-card class="mat-elevation-z3">
                            <mat-card-content>
                                <div [chart]="trendingChart"></div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-xl-3 col-lg-3">
                    <div class="mt-4 card ml-2">
                        <mat-card class="mat-elevation-z3">
                            <mat-card-content>
                                <div [chart]="orderChart"></div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-xl-3 col-lg-3">
                    <div class="mt-4 card ml-2">
                        <mat-card class="mat-elevation-z3">
                            <mat-card-content>
                                <div [chart]="customerChart"></div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-xl-3 col-lg-3">
                    <div class="mt-4 card ml-2">
                        <mat-card class="mat-elevation-z3">
                            <mat-card-content>
                                <div [chart]="newCustomerChart"></div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-8 col-xl-8 col-lg-8">
                    <mat-card class="mat-elevation-z3">
                        <mat-card-content>
                            <div [chart]="barChart"></div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-12 col-md-4 col-xl-4 col-lg-4">
                    <mat-card class="mat-elevation-z3">
                        <mat-card-content style="padding: 0;">
                            <h3 style="margin-left: 1em;">Quảng cáo</h3>
                            <div class="content">
                                <img src = "../../../assets/icons/social.png" alt="">
                                <div class="follower-content">
                                    <h2>Folower</h2>
                                    <h1>35000</h1>
                                </div>
                            </div>
                            <div class="content">
                                <img src="../../../assets/icons/twitter.png" alt="">
                                <div class="follower-content">
                                    <h2>Folower</h2>
                                    <h1>2500</h1>
                                </div>
                            </div>
                            <div class="content">
                                <img src="../../../assets/icons/youtube.png" alt="">
                                <div class="follower-content">
                                    <h2>Folower</h2>
                                    <h1>1M7</h1>
                                </div>
                            </div>
                            <div class="content">
                                <img src="../../../assets/icons/instagram.png" alt="">
                                <div class="follower-content">
                                    <h2>Folower</h2>
                                    <h1>35000</h1>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
                    <mat-card class="mat-elevation-z3">
                        <mat-card-content>
                            <h3 style="margin-left: 1em;">Đơn hàng gần đây</h3>
                            <div class="table-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                Đồ ăn
                                            </th>
                                            <th>
                                                Giá
                                            </th>
                                            <th>
                                                ID
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let it of products; let i = index">
                                            <tr id="{{i}}">
                                                <td>{{it?.foodName}}</td>
                                                <td>{{it?.price}}</td>
                                                <td>{{it?.foodId}}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 col-lg-6">
                    <mat-card class="mat-elevation-z3">
                        <mat-card-content style="padding: 0;">
                            <div [chart]="horizontalBarChart"></div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>