<div class="container-fluid" style="height: 100vh; width: 100%;">
    <mat-card>
        <mat-tab-group class="tab-container">
            <mat-tab label="Đồ ăn nhanh">
                <ng-template matTabContent style="height: 100%;">
                    <div class="container">
                        <div class="row">
                            <ng-container *ngFor="let item of products; let i = index">
                            <div class="d-flex align-items-center justify-content-around col-md-6 col-lg-6 mt-5">
                                    <div class="content">
                                        <h3>{{item?.nameProduct}}</h3>
                                        <button mat-button style="border: 1px red solid; border-radius: 20px;" type="button" (click)="addToCart(i)">Thêm vào giỏ</button>
                                    </div>
                                    <img src="{{item?.img}}" alt="">
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Món phụ">
                <ng-template matTabContent>
                
                </ng-template>
            </mat-tab>
            <mat-tab label="Đồ uống">
                <ng-template matTabContent>
                
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>